.flexlayout__layout {
  width: 100%;
  height: 100%;
  position: relative !important;
}

.flexlayout__tabset {
  border-radius: 0.75rem;
  overflow: hidden;
}

.flexlayout__tab {
  font-size: 12px;
}

.flexlayout__tab_button {
  opacity: 0.6;
}

.flexlayout__tab_button--selected {
  opacity: 1;
}
